/* index.css */
@import "tailwindcss";

@layer base {
  html, body {
    /* Standard CSS properties that Tailwind v4 maps to */
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    
    /* Your existing resets */
    margin: 0;
    padding: 0;
   
  }

   #root {
    margin: 0;
    padding: 0;
   
  }
}